:root {
  /* Forzar la barra superior (Header) a Blanco */
  --md-primary-fg-color: #ffffff;
  --md-primary-bg-color: #ffffff;
  
  /* Color del texto de la barra superior (Gris oscuro) */
  --md-header-fg-color: #5f6368;
  --md-header-bg-color: #ffffff;
}

/* Forzar que el título del sitio sea Azul Google */
.md-header__title, .md-header__button {
    color: #1a73e8 !important;
}

/* Pestañas (Tabs) en blanco también */
.md-tabs {
    background-color: #ffffff !important;
    color: #5f6368 !important;
    border-bottom: 1px solid #dadce0;
}

/* Títulos H1, H2 azules */
h1, h2, h3 {
    color: #1b46d2 !important;
}

/* Arreglo para que los iconos de búsqueda se vean en fondo blanco */
.md-search__input {
    background-color: #f1f3f4 !important;
}