:root {
  /* Forzar la barra superior (Header) a Blanco */
  --md-primary-fg-color: #ffffff;
  --md-primary-bg-color: #ffffff;
  
  /* Color del texto de la barra superior (Gris oscuro) */
  --md-header-fg-color: #5f6368;
  --md-header-bg-color: #ffffff;
}

/* Forzar que el título del sitio sea Azul Google */
.md-header__title, .md-header__button {
    color: #185abc !important;
}

/* Pestañas (Tabs) en blanco también */
.md-tabs {
    background-color: #ffffff !important;
    color: #5f6368 !important;
    border-bottom: 1px solid #dadce0;
}

/* Títulos H1, H2 azules */
h1, h2, h3 {
    color: #1a73e8 !important;
}

/* Arreglo para que los iconos de búsqueda se vean en fondo blanco */
.md-search__input {
    background-color: #f1f3f4 !important;
}

/* --- AJUSTE DE TAMAÑO DEL LOGO --- */

/* Apuntamos específicamente a la imagen dentro del botón del logo */
.md-header__button.md-logo img {
    /* 1. Altura: Aumenta este valor para hacerlo más grande.
       El valor por defecto es pequeño (aprox 24px).
       Prueba con 48px, 56px o incluso 64px. */
    /*height: 80px !important; */
    overflow: visible !important;
    /* Le decimos que su altura se adapte al contenido */
    height: 80px !important;
    /* 2. Ancho automático: Esto asegura que el logo no se deforme */
    width: auto !important;
    margin-right: 2px !important;
    /* 3. (Opcional) Ajuste vertical fino.
       Si al agrandarlo se ve muy arriba o muy abajo respecto al texto,
       descomenta la línea de abajo y juega con valores negativos (subir)
       o positivos (bajar) de margen. */
    /* margin-top: -4px !important; */
}

/* (Opcional) Si el logo queda muy pegado al borde izquierdo en móvil */
@media screen and (max-width: 76.1875em) {
    .md-header__button.md-logo {
        margin-left: 8px;
    }
}